{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="container">
        <a href="/series/create" class="btn btn-dark mb-3">Adicionar uma nova séria</a>
        <ul class="list-group">
            {% for serie in  seriesList %}
                <li class="list-group-item"> {{ serie.id }} {{ serie.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
