{% extends 'base.html.twig' %}


{% block title%}

{% endblock %}


{% block body %}
    <form method="post">

        <label for="serieName">Nome da série</label>
        <input type="text" id="serieName" name="seriesName">
        <button>Adicionar</button>

    </form>

{% endblock %}

